#about {
  display: grid;
  grid-template-rows: 150px 94vh;
  grid-template-columns: 20% 15% 15% 15% 15% 20%;
  position: relative;
  background: {
    color: #fff8dc;
  }

  #aboutContainer {
    grid-column: 2/6;
    grid-row: 2/3;
    position: relative;
    #aboutHeader {
      font-weight: bold;
      width: 100%;
      font-size: 3rem;
      text-align: center;
    }
    #aboutInfo {
      position: relative;
      top: 30px;

      #aboutImg {
        margin: {
          bottom: 0px;
          left: 30px;
          right: 20px;
          top: 20px;
        }
        box-shadow: 0px 0px 5px;
        float: left;
        width: 230px;
        border-radius: 10%;
      }
      #aboutParagraph {
        padding-top: 10px;
        font-family: "Abel", sans-serif;
        line-height: 2.7rem;
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  #about {
    display: grid;
    grid-template-rows: 58px 900px;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    position: relative;
    background: {
      color: #fff8dc;
    }
    #aboutContainer {
      grid-column: 2/6;
      grid-row: 2/3;
      position: relative;
      #aboutHeader {
        font-weight: bold;
        width: 100%;
        font-size: 3rem;
        text-align: center;
      }
      #aboutInfo {
        position: relative;
        top: 30px;
  
        #aboutImg {
          margin: {
            bottom: 0px;
            left: 30px;
            right: 20px;
            top: 20px;
          }
          box-shadow: 0px 0px 5px;
          float: left;
          width: 230px;
          border-radius: 10%;
        }
        #aboutParagraph {
          padding-top: 10px;
          font-family: "Abel", sans-serif;
          line-height: 2.7rem;
          font-size: 1.3rem;
        }
      }
    }
  }


}
@media only screen and (max-width: 700px) {
 #about {
    display: grid;
    grid-template-rows: 58px 950px;
    grid-template-columns: 5% 25% 20% 20% 25% 5%;
    position: relative;
    background: {
      color: #fff8dc;
    }
    #aboutContainer {
      grid-column: 2/6;
      grid-row: 2/3;
      position: relative;

      #aboutInfo {
        position: relative;
        top: 30px;
        #aboutImg {
          margin: {
            bottom: 0px;
            left: 0px;
            right: 10px;
            top: 15px;
          }
          box-shadow: 0px 0px 5px;
          float: left;
          width: 150px;
          border-radius: 10%;
        }
        #aboutParagraph {
          padding-top: 10px;
          font-family: "Abel", sans-serif;
          line-height: 2.0rem;
          font-size: 1.0rem;
        }
      }
    }
  }
}
