#contact{
    display: grid;
    grid-template-rows: 150px 94vh;
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
    position: relative;
    background: {
        color: #fff8dc;
    }
    /* <--Contact Header--> */
#contactHeader{
    grid-column: 2/6;
    grid-row: 2/3;
    #conH{
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-align: center;
    }

}
.label{
    font-size: 1.4rem;
}
 /* <--Contact Form--> */
    #contactForm{
        grid-column: 2/6;
        grid-row: 2/3;
        align-self: center;
        
        .Input{
            word-wrap: break-word;
            word-break: break-all;
            width:100%;
            height: 23px;
            border:{
                radius: 3px;
                style: solid;
                width:1px;
            }
        }
    }
}

#messageInp{
    height: 200px;
}
.messageInp{
    word-wrap: break-word;
            word-break: break-all;
            width:100%;
            height: 200px;
            border:{
                radius: 3px;
                style: solid;
                width:1px;
            }
}
.paddingTop{
    padding-top: 20px;
}
.bold{
    font-weight: bold
}

@media only screen and (max-width: 1000px) {
    #contact{
        display: grid;
        grid-template-rows: 80px 900px;
        grid-template-columns: 10% 20% 20% 20% 20% 10%;
        position: relative;
        background: {
            color: #fff8dc;
        }
    }
   }