
#footer {
    position: relative;
    background-color: #31373a;
    height: 300px;
    display: flex;
    grid-column: 2/6;
    flex-direction: column;
  }
#footerContent{
    margin:{
        left: 20%;
        right: 20%;
    }
    width: 60%;
    display: flex;
    color: black;
    height: 100%;
    justify-content: space-around;
   
};
.footerSocialMedia{
    display: flex;
    color: black;
    align-items: center
}
.footercontact{
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;

}
.footerContactItem{
    font-size: 1.2rem;
    color: black; 
    text-decoration: none
}
#credits {
    align-self: flex-end;
    font: {
      size: 0.75rem;
    }
  }
  .footerLinks-icons{
      height: 70px;
      width: 70px;
    margin: 15px;
      &:hover{
          cursor: pointer;
      }
  }

  .iconSize{
      height: 100%;
      width:100%;
  }
  @media screen and (max-width: 1000px) {
    #footer {
      position: relative;
      background-color: #31373a;
      height: 100vh;
      display: flex;
      grid-column: 2/6;
      justify-content: flex-end;
    }
    #footerContent{
        margin:{
            left: 0%;
            right: 0%;
        }
        width: 60%;
        width: 100%;
        display: flex;
        color: black;
        height: 100%;
        justify-content: space-around;
        align-items: center;
       flex-direction: column-reverse;
       overflow: hidden;
    };
    .footerSocialMedia{
        display: flex;
        color: black;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

    };
    .footerContactItem{
        font-size: 1rem;
        color: black; 
        text-decoration: none;
        overflow: hidden;

    }
}