$background: #fff8dc;

#mainGallery {
  display: grid;
  grid-template-columns: 20% 15% 15% 15% 15% 20%;
  background: {
    color: #fff8dc;
  }
}

#galleryContainer{
   grid-column: 1/7;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 60px;
position: relative;
padding-bottom: 60px;
margin:{
  left: 60px;
  right: 60px;
}

   .imageDiv{
     position: relative;
     height: 700px;


     .galleryImage{
      position: relative;
      height:100%;
      width: 100%;
      overflow: hidden;
     }
   }
}




.noBorder {
  border-width: 0px;
}






.galleryHeader {
  grid-column: 1/7;
  margin-top: 70px;
  text-align: left;
  font-size: 1.5rem;
    width: 100%;
  display: flex;
  align-items: center;
  &::before,
  &::after {
    content: "";
    background: $svgColor;
    height: 0.05em;
  
    flex: 1;
  }
}

@media screen and (max-width: 1300px) {
  #galleryContainer{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
 position: relative;
 // padding:{
 //   left: 50px;
 //   right: 50px;
 // }
    .imageDiv{
      position: relative;
      height: 500px;
 
 
      .galleryImage{
       position: relative;
       height:100%;
       width: 100%;
       overflow: hidden;
      }
    }
 }
}
@media only screen and (max-width: 900px) {
  #galleryContainer{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
 position: relative;
 margin:{
   left: 0px;
   right: 0px;
 }
    .imageDiv{
      position: relative;
      height: auto;
      width: 100vw;
 
      .galleryImage{
       position: relative;
       height:100%;
       width: 100%;
       overflow: hidden;
      }
    }
 }
}
