$industrialGray: #fff8dc;
$headerImgHeight: 100vh;
$headerImgWidth: 100%;
$svgColor: #3a4f57;
$secondHomeImgH: 60vh;
$navColor: #d2b48c;

.container {
  display: grid;
  grid-template-columns: 20% 15% 15% 15% 15% 20%;
}
.fullGrid {
  grid-column: 1/7;
}
.homeContainer {
  grid-column: 1/7;
}
.margins {
  grid-column: 2/6;
}
.noMargin {
  margin: 0;
}
.underLine {
  font-family: "Playfair Display", serif;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.backgroundColorHome {
  background-color: $industrialGray;
}
.inBetween1 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100px;
}

.body {
  position: relative;
  display: grid;
  padding-top: 82px;
  grid-template-columns: 20% 15% 15% 15% 15% 20%;
  background: {
    color: $industrialGray;
  }
  z-index: 2;
  top: 0%;

  
}
.svg {
  margin: auto;
  display: block;
  width: 65%;
  height: auto;
  fill: $svgColor;
}
.cardHeader {
  position: relative;
  top: 0%;
  grid-column: 1/7;
  color: black;
  font-size: 1.5rem;
  grid-row: 1;
  z-index: 3;
  background-color: $industrialGray;
}

.cardContainer {
  position: relative;
  grid-column: 1/7;
  display: flex;
  width: auto;
  justify-content: space-between;
  top: 0%;
  height: 450px;
  background-color: $industrialGray;
  padding: {
    top: 40px;
    left: 20%;
    right: 20%;
  }
}
.card {
  position: relative;
  width: 22%;
  font-size: 1.1em;
  height: auto;
  text-align: left;
  align-self: baseline;
}
.HomeLayout {
  display: grid;

  grid-template-columns: 25% 15% 10% 10% 15% 25%;
}

.homeHeadTextCont {
  background: {
    color: rgba(255, 248, 220, 0.781);
  }
  border: {
    style: solid;
    color: rgba(255, 248, 220, 0.781);
    width: 0px;
  }
  top: 46%;
  left: 50%;

  transform: translate(-50%, -50%);
  height: 270px;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.homeHead {
  top: 0%;
  

  position: relative;

  margin: 0;
  color: black;
  height: $headerImgHeight;
  width: $headerImgWidth;
}
.homeHeadImg {
  top: 0%;

  z-index: 0;
  position: fixed;
  height: $headerImgHeight;
  width: $headerImgWidth;
  overflow: hidden;
}

.homeImgText {
  font-family: "Playfair Display", serif;
  position: absolute;
  text-align: center;
  margin: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 2;
}
.headingText {
  margin: 0;
  color: black;
  border-width: 5px;
  border-color: black;

  z-index: 2;
}
.noBold {
  font-weight: 100;
}
.homeImgTextLink {
  font-family: "Playfair Display", serif;
  position: absolute;
  font-size: 2em;
  left: 50%;
  top: 53%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;

  .homeImgBtn {
    transition: 100ms;
    font-size: 0.7em;
    padding: {
      top: 10px;
      bottom: 10px;
    }
    background: {
      color: #f0c14bc9;
    }

    border: {
      width: 0px;
      radius: 7px;
      color: #f0c14b2d;
    }
    overflow: hidden;
    width: 260px;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      background-color: #ffb700;
      border-color: #f0c14b;
      box-shadow: 0px 1px 5px;
      &:after {
        background: black;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
      }

      &:after {
        bottom: 0;
        transform: translateX(-35%) rotate(130deg);
        transform-origin: 50%;
        overflow: hidden;
      }
      &:before {
        background: black;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
      }

      &:before {
        bottom: 0;
        transform: translateX(35%) rotate(130deg);
        transform-origin: 50%;
        overflow: hidden;
      }
    }
  }
}

#nextImage {
width: 100%;  // background-image: url("/static/header3.jpg");
  height: $secondHomeImgH;
  background-color: rgba(0, 0, 0, 0);


}
.nextImage{

  z-index: 1;
 position: relative;
height: $headerImgHeight;
width: $headerImgWidth;
overflow: hidden;
transform: translate(0, -20%);

}
.alignCenter {
  text-align: center;
}
#cardHeader {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    background: $svgColor;
    height: 0.05em;
    margin: 0.2em;
    flex: 1;
  }
}
#homeGallery {
  height: 75vh;
  position: relative;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: auto auto;
  z-index: 1;

}
#homeGalleryImg {
  width: 50%;
  height: auto;
  border: {
    width: 2px;
  }
}
#homeGalleryContent {
  grid-column: 2/6;
  grid-row: 2;

  display: flex;
  align-self: center;
  justify-content: space-between;
  background-color: $industrialGray;
  border: {
    left: 0px;
    top: 0px;
    bottom: 110px;
    style: solid;
    color: $industrialGray;
  }
}
#homeGalleryText {
  align-self: center;
  font-size: 1.5rem;
  text-align: left;
  margin: {
    left: 30px;
  }
}
.homeGalleryTextHeader {
  grid-column: 1/7;
  color: black;
  font-size: 1.5rem;
  background-color: $industrialGray;
  align-self: flex-start;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  top: 40px;
  position: absolute;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    background: $svgColor;
    height: 0.05em;
    margin: 0.2em;
    flex: 1;
  }
}
.btn {
  font-size: 1.1rem;
  height: 30px;
  width: 140px;
  transition: 200ms;
  background: {
    color: $navColor;
  }
  margin: {
    top: 10px;
    bottom: 10px;
  }

  border: {
    width: 0px;
    radius: 6px;
  }
  &:hover {
    background-color: #ecd1ad;
    cursor: pointer;
    transform: scale(1.05);
  }
}
@media screen and (max-width: 1300px) {
  .HomeLayout {
    display: grid;
    grid-template-columns: 5% 20% 25% 25% 20% 5%;
  }
  .body {
    position: relative;
    display: grid;
    padding-top: 82px;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    background: {
      color: $industrialGray;
    }
    z-index: 2;
    .cardHeader {
      font-size: 1.3rem;
    }
  }
  #homeGallery {
    height: 75vh;
    position: relative;
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: auto auto;
    z-index: 1;
  }
  .cardContainer {
    position: relative;
    grid-column: 1/7;
    display: flex;
    width: auto;
    justify-content: space-between;
    top: -5%;
    height: 450px;
    background-color: $industrialGray;

    padding: {
      top: 40px;
      left: 10%;
      right: 10%;
    }
    .card {
      position: relative;
      width: 30%;
      font-size: 1rem;
      height: auto;
      text-align: left;
      align-self: baseline;
    }
  }
  .homeImgText {
    font-family: "Playfair Display", serif;
    position: absolute;
    text-align: center;
    margin: 0px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    z-index: 2;
  }
}

@media only screen and (max-width: 700px) {
  .body {
    position: relative;
    display: grid;
    padding-top: 82px;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    background: {
      color: $industrialGray;
    }
    z-index: 2;
    .cardHeader {
      font-size: 0.9rem;
    }
  }
  .homeImgText {
    font-family: "Playfair Display", serif;
    position: absolute;
    text-align: center;
    margin: 0px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.0rem;
    z-index: 2;
    width: 360px;
  }
  .cardContainer {
    position: relative;
    grid-column: 1/7;
    display: flex;
    width: auto;
    justify-content: space-around;
    top: 50px;
    height: 1650px;
    background-color: $industrialGray;
    padding: {
      top: 0px;
      left: 10%;
      right: 10%;
    }
    flex-direction: column;
    .card {
      position: relative;
      width: 100%;
      font-size: 1rem;
      height: 90%;
      text-align: left;
      align-self: baseline;
    }
  }
  .homeImgTextLink {
    font-family: "Playfair Display", serif;
    position: absolute;
    font-size: 2em;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;

    .homeImgBtn {
      transition: 100ms;
      font-size: 1.0rem;
      padding: {
        top: 5px;
        bottom: 5px;
      }
      background: {
        color: #f0c14bc9;
      }

      border: {
        width: 0px;
        radius: 7px;
        color: #f0c14b2d;
      }
      overflow: hidden;
      width: 200px;


     
      
    }
  }
  .homeHeadTextCont {
    background: {
      color: rgba(255, 248, 220, 0.781);
    }
    border: {
      style: solid;
      color: rgba(255, 248, 220, 0.781);
      width: 0px;
    }
    top: 46%;
    left: 50%;
  
    transform: translate(-50%, -50%);
    height: 220px;
    width: 100%;
    position: absolute;
  }
  #nextImage {
    grid-column: 1/7;
      width: 100%;
      overflow: hidden;
    position: relative;
    height: 90vh;
    z-index: 1;
  }
  .nextImage{
    transform: translate(-30%, -50%);
    width: auto;
    top:50%;
    left: 50%;
   
  }
  #homeGallery {
    height: 700px;
    position: relative;
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    z-index: 1;

  }
  .homeGalleryTextHeader {
    grid-column: 1/7;
    color: black;
    font-size: 0.9rem;
    background-color: $industrialGray;
    align-self: flex-start;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    top: 40px;
    position: absolute;
  }
  #homeGalleryContent {
    grid-column: 1/7;
   flex-direction: column;
   width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: $industrialGray;
    border:{
      width:0px;
    }
   
    #homeGalleryImg {
      width: 100%;
      height: 325px;
      border: {
        width: 0px;
      }
    }
  }
  #homeGalleryText {
    align-self: center;
    font-size: 0.9rem;
    text-align: left;
    margin: {
      top: 10px;
      bottom:10px;
      left: 30px;
      right: 30px;
    }
  }
}
@media only screen and (max-width: 380px) {

  .homeImgText {
    font-family: "Playfair Display", serif;
    position: absolute;
    text-align: center;
    margin: 0px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    z-index: 2;
    width: 300px;
  }
}