@import "home";
@import "about";
@import "gallery";
@import "contact";
@import "footer";

$marginLeft: 20%;
$paddingY: 10;
$industrialGray: #d2b48c;
$navbarHeight: 58px;
$leftMarginLogo: 78%;

html{
  background-color: #fff8dc
}
body {
  margin: 0 !important;
}

.icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.3s ease;
  
}
#navBar {

  display: grid;
  grid-template-columns: 20vw 30vw 29vw 21vw;
  height: $navbarHeight;
  width: 100vw;
  transition: 0.5s;
  
  font-family: "Playfair Display", serif;
  z-index: 5;
  position: fixed;
  
}
.navBarScroll{
  box-shadow: 0px 1px 5px;
  background: {
    color: $industrialGray;
  }
}
#logoContainer {
  position: absolute;
    top:5px;
  
}
.NavImg {

  width: 45px;
  height: auto;
  align-self: center;
}
.imgNav {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  // transform: translateX(-50%) ;
  transition-duration: 0.7s;
  z-index: 2;
  top: 1px;
}
#imgNavText {
  position: relative;
  display: flex;
  margin: 0;
  align-self: center;
  font-size: 2rem;
  color: black;
}

.vl {
  border-left: 2px solid #0c4358;
  height: $navbarHeight - 10;
  align-self: center;
  margin: {
    left: 16px;
    right: 12px;
  }
}
#navbtns {
  display: flex;
  grid-column: 3/4;
  font-size: 1.2em;
  justify-content: space-between;
}
.navbtn {
  position: relative;
  align-self: flex-end;
  min-width: 0;
}
.text {
  font-family: 'Allerta Stencil', sans-serif;
  text-decoration: none;
}

.home {
  text-decoration: none;
  color: black;
  align-self: flex-end;
  grid-row: 1;
  text-align: center;
}
.a {
  position: relative;
  width: 100%;
  color: black;
  &:hover {
    color: #0c4358;
  }
  text-decoration: none;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0c4358;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.1s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 3px;
  }
}


backward { 
  display: inline-block; 
 -webkit-transform: scale(-1, 1);  
 transform: scale(-1, 1); 
} 
.hamburgerA{
  display: none;
  position: relative;
  grid-column: 4/5;
}
.hamburger{

  position: relative;
  grid-column: 4/5;
  top:18px;
  -webkit-transform: scale(2);
          transform: scale(2)
}
.menu {
  color: #000;
  position: absolute;
  margin-left: 8px !important;
  margin-top: 10px;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}
.remove {
  color: #000;
  position: absolute;
  margin-left: 0px !important;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  #footer {
    position: relative;
    background-color: #31373a;
    height: 100vh;
    display: flex;
    grid-column: 2/6;
    justify-content: flex-end;
  }
  .hamburgerA{
    display: flex;
    position: relative;
    grid-column: 4/5;
justify-content: flex-end;
  }
  hr{
    margin: 0px;
    border-color: black;
  }
  .nonMobile{
    display: none;
  }
  #imgNavText {
    position: relative;
    display: flex;
    margin: 0;
    align-self: center;
    font-size: 1.5rem;
    color: black;
  }
  #navBtnsMobile{
    left: 0%;
    position: fixed;
    background-color: #d2b48c;
    top:0;
    height:100vh;
    justify-content: center;
    font-size: 1.3rem;
    overflow: scroll;
    z-index: 3;

    &::-webkit-scrollbar {
      width: 5px;
      
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: #a3a3a3; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #555; 
      border-radius: 5px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
  }

  .slideOut{
    -webkit-animation-name: slideOut;
    animation-name: slideOut;
  }
  @keyframes slideOut {
    from{
      width: 0%;
      // display: block;

    }
    to{
      width: 70%;
      
    }
  } 
 @-webkit-keyframes slideOut {
    from{
      width: 0%;
      // display: block;
    }
    to{
      width: 70%;
    }
  }
  .slideIn{
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
  @keyframes slideIn {
    from{
      width: 70%;
     

    }
    to{
      width: 0%;
      // display: none;

    }
  } 
 @-webkit-keyframes slideIn {
    from{
      width: 70%;
    }
    to{
      width: 0%;
      // display: none;

    }
  }
  .navbtnMobile{
   margin-left: 20px;
    position: relative;
    padding:{
      top: 20px;
      bottom: 20px;
    }
    height: 20px;
  }
  #navbtns {
    display: none;
 
  }
}
.animate {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}